body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h3 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 800px;
    background-color: rgb(220, 214, 214);
    padding: 20px;
    border: 1px solid rgb(196, 184, 184);
}

.header-link a:hover {
    color: blue;
    transition-duration: 0.2s;
}

pre code {
    background-color: white;
    border: 1px solid #999;
    display: block;
    padding: 10px;
    color: black;
}

button {
    padding: 10px;
    background-color: rgb(173, 159, 159);
    border: 1px solid rgb(130, 119, 119);
    margin-left: 330px;
    margin-top: 10px;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    padding: 10px;
    background-color: rgb(128, 113, 113);
    border: 1px solid rgb(90, 79, 79);
    color: rgb(196, 181, 181);
    transition-duration: 0.5s;
}