body {
    background-image: linear-gradient(lightsalmon, darksalmon, lightblue, darkblue);
}

div.container {
    margin: 50px 50px;
    padding: 100px;
    border: 3px solid black;
    background-color: white;
}

.intro {
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightsalmon;
    margin: 40px auto;
    animation-name: salmon-animation;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 40px auto;
    animation-name: blue-animation;
    animation-duration: 4s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes blue-animation {
    0% {
        border-radius: 0;
        background-color: lightblue;
        transform: rotate(0deg);
    }

    25% {
        border-radius: 50%;
        background-color: cornflowerblue;
        transform: rotate(45deg);
    }

    50% {
        border-radius: 50% 50% 50% 0;
        background-color: blue;
        transform: rotate(90deg);
    }

    70% {
        border-radius: 50% 50% 0 0;
        background-color: cornflowerblue;
        transform: rotate(135deg);
    }

    100% {
        border-radius: 0;
        background-color: lightblue;
        transform: rotate(180deg);
    }
}

@keyframes salmon-animation {
    0% {
        border-radius: 0;
        background-color: lightsalmon;
        transform: rotate(0deg);
    }

    25% {
        border-radius: 50% 0 0 0;
        background-color: darksalmon;
        transform: rotate(45deg);
    }

    50% {
        border-radius: 50% 50% 0 0;
        background-color: salmon;
        transform: rotate(90deg);
    }

    70% {
        border-radius: 50% 50% 50% 0;
        background-color: darksalmon;
        transform: rotate(135deg);
    }

    100% {
        border-radius: 50%;
        background-color: lightsalmon;
        transform: rotate(180deg);
    }
}